    {{#each dogs}}
      <div>
          <img height="300px" width="300px" src="{{primary_photo_cropped.medium}}" alt="albumImg"/>
        <div id="album-name" >{{name}}</div>
      </div>
    {{/each}}