<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <nav>
        <h1>Find yourself a friend!</h1>
{{#if user}}
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        <a href="/about">About</a>
         <a href="/search">Find a Pet</a>
         <a href="/organizations">Organizations</a>
         <a href="/readyforpet">Are you ready to adopt?</a>
         <a href="/marketplace">Marketplace</a>
         <a href="/test">Test</a>
{{else}}

         <a href="/login">Log in</a>
         <a href="/signup">Sign Up</a>
{{/if}}

    </nav>
    {{{body}}}
    {{!-- {{#if errorMessage}}
<p style="color: rgb(13, 13, 155)">{{message}}</p>
{{/if}}  --}}
  </body>
</html>
