<h1> Log in</h1>
 <p>Use these credentials to browse around:</p>
<p>Email: max@gmail.com | Password: asdfasdf</p>
<form action="/login" method="post">

<div>
  <label for="emailInput">Email:</label>
</div>
<div>
  <input type="email" name="email" id="emailInput" />
</div>

<div>
 <label for="passwordInput">Password:</label>
</div>
<div>
 <input type="password" name="password" id="passwordInput" />
</div>

<button class="edit-market lgn-bttn" type="submit">Login</button>

</form>

{{#if errorMessage}}
<p style="color: red">{{errorMessage}}</p>
{{/if}}