<h1>Add your item for sale!</h1>
<div>
    <br>
    <form action="/marketplace-add" method="post">
    <div>
        <label for="name">Item name:</label>
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
        <label for="image">Enter URL for the image:</label>
          <input type="text" name="image" id="image"></input>
        </div>
        <br>
        <div>
        <label for="description">Description:</label>
          <input type="text" name="description" id="description" ></input>
        </div>
        <br>
        <div>
        <label for="price">Price:</label>
          <input type="number" name="price" id="price"></input>
        </div>
        <br>
         
        <button type="submit">Post!</button>
    </form>
</div>