    <h1>List of pets</h1>
    {{#each results}}
      <div>
          <img height="300px" width="300px" src="{{primary_photo_cropped.medium}}" alt="albumImg"/>
        <div >{{name}}</div>
        <div >{{status}}</div>
      </div>
    {{/each}}