<h1>These stories are the reason why we do it!</h1>


<div class="story">
    <h2>Monkey: 30 pounds of irresistible</h2>
                <div>
     <img src="https://bestfriends.org/sites/default/files/inline-files/Adopt-a-Shelter-Pet-Day-MonkeyOffice3702MW.jpg" height="500px" alt="image">
                </div>
<p>
Monkey is a cat so cute, it’s like he’s got his own gravity. When the 31-pound cat first arrived at Best Friends Animal Sanctuary, everyone was drawn to him and his outgoing personality. And he loved the attention. It wasn’t just people who met him in person, either. When Jennifer May saw his picture on the Best Friends website, she saw his big green eyes and was pulled in like everyone else before traveling more than 300 miles to pick him up.
The happy ending didn’t stop there, though. When Jennifer came to get Monkey, she fell in love with two more cats - brothers Jupiter and Saturn. And, so, Monkey’s gravity of cuteness pulled two little planets all the way home with him.
</p>

</div>



<div class="story">
    <h2>Steak: Big orange tabby is living large in the Lone Star State</h2>
                <div>
 <img src="https://bestfriends.org/sites/default/files/inline-files/Adopt-a-Shelter-Pet-Day-SteakCourtesyofDianeBarber2.jpg" height="500px" alt="image">
                </div>
<p>
Steak has a way of stealing the spotlight like only a big orange tabby cat can. That’s what Diane Barber discovered when she stepped up to foster him during the pandemic. He became an instant hit during virtual happy hours with Diane’s friends and reigned supreme over her Facebook page.
That’s where Steak, who came to Best Friends in Los Angeles from an L.A. city shelter, caught the attention of Diane’s friend, Doug Parker. He got to thinking that he might like to adopt Steak, but there was just one logistical conundrum: Doug lives in Houston. How in the world could Steak get from California to Texas?
Diane had the answer: She and her partner would drive Steak to his new home with Doug. And as soon as the stay-at-home order was lifted in L.A., they hit the road with Steak in tow.
Turns out, the orange tabby is quite the road tripper, sitting patiently in the back seat and making himself at home in hotels like a seasoned traveler. The best part: Steak also quickly made himself at home at Doug’s place. Recently, Diane visited Steak and reports he’s happy and living large in the Lone Star State. 
</p>
          
</div>

<div class="story">
    <h2>Gus: 101-Year-Old Woman Adopts Oldest Cat at Shelter for "Match Made In Heaven"</h2>
                <div>
 <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2021%2F10%2F06%2Fsenior-shelter-cat-gets-uncanny-match-2000.jpg" height="500px" alt="image">
                </div>
<p>
Here's proof that there are such things as happy endings. This sweet story from the Humane Society of Catawba County, N.C. will certainly make any animal lover's heart purr!
Gus is a 19-year-old shelter cat who was brought to the shelter in September 2021. The Humane Society of Catawba County's executive director, Jane Bowers, tells Daily Paws in an email that his original owner was "heartbroken" when they had to surrender him due to unforeseen circumstances. Understandably, the thought of having to have to rehome their beloved feline would be upsetting to anyone. But thankfully, that's not where this senior cat's story ends.
Once at the shelter, Gus was given a health screening one that Bowers says showed he was in "exceptional health"—a big win for a kitty who's nearing 20 years old! But even with the shelter's funding to support extra health care, plus assistance from a sister-location in Hickory, N.C. (the Pat Anderson Center for Animal Adoption and Humane Education), Bowers said she was still concerned about the cat having to spend his golden years in a shelter environment.
</p>
          
</div>


<div class="story">
    <h2>Diesel: A pig who knows when to turn on the charm</h2>
                <div>
 <img src="https://bestfriends.org/sites/default/files/inline-files/Adopt-a-Shelter-Pet-Day-Jennifer-and-Diesel-courtesy-Jennifer-West.jpg" height="500px" alt="image">
                </div>
<p>
Sometimes, it’s the pet who chooses the person. That’s exactly what Diesel did when Jennifer West came looking for a pig to adopt. He plopped down next to her and turned on the charm. Now, Diesel was known for being rambunctious and insecure at the Sanctuary, and Jennifer had heard about his personality. She’d already decided that he was probably not the right match, but when they met, Diesel turned on the charm. Even his caregivers noted that he was like a completely different pig ― all gentle and mellow. When a pig decides you’re the one, how can you say no?
Diesel also brought his “boss,” Papa, along with him. The two pigs sleep on piles of blankets in Jennifer’s bedroom, and they also enjoy a big, grassy backyard during the day. And all three agree, Diesel made a good choice. 
</p>
          
</div>


<div class="story">
    <h2>Sailor: Deaf dog meets the perfect match</h2>
                <div>
 <img src="https://bestfriends.org/sites/default/files/inline-files/Adopt-a-Shelter-Pet-Day-Sailor9922_courtesyAllisonArnold.jpg" height="500px" alt="image">
                </div>
<p>
When Allison Arnold and her partner, Lily, moved into their new home, they took one look at the big backyard and knew what they had to do: adopt another dog. So, they started looking online at available pups. That’s when they first learned about Sailor, who was in the process of amassing quite a fan following at Best Friends in Atlanta.
You see, there’s a lot to love about the young pit bull mix. He’s equal parts sweet and goofy, and so adorable. He’s also deaf, and that’s what really got Allison and Lily during the adoption process: Allison is a speech pathologist and Lily works as a special education teacher.
“We’ve always had a soft spot for animals, especially those that have been abandoned, have difficult circumstances or have special needs that require more care,” says Allison. “When we saw Sailor and learned he was deaf, we knew he was the one.”
When Sailor was at Best Friends, the staff and volunteers put together a plan to help him learn sign language (ASL) and his foster family continued to help teach him. Today, it’s a big part of how Allison and Lily communicate with him.
It’s not always easy, but the rewards certainly outweigh the challenges. “His deafness doesn’t hold him back from anything,” says Allison. “He just adapts and continues enjoying life. That's exactly what we should all be doing as well.”
</p>
          
</div>






<div class="story">
    <h2>Romeo: The kitten who helped mend a broken heart</h2>
                <div>
 <img src="https://bestfriends.org/sites/default/files/inline-files/Adopt-a-Shelter-Pet-Day-Sweeney-family-courtesy-of-Laurie-Sweeney-3-first-day-with-kora-and-kashi.jpg" height="500px" alt="image">
                </div>
<p>
Twelve-year-old Lucas Sweeney was absolutely heartbroken when his beloved cat, Very Good Kitten (VGK), passed away recently. VGK was adopted a few years ago by the family and quickly became Lucas’ shadow. When he came home from school, he hung out with VGK, and at night they slept together soundly. In fact, it was Lucas who gave VGK his nickname.
After VGK passed, Lucas’ mom, Laurie, decided the time was right to foster a cat, thinking it just might lift Lucas’ spirits. She signed the family up with Best Friends in Utah to become kitten fosters. Not too long after that, she hopped in the car with Lucas and picked up three kittens to foster, including a little black one named Romeo. “It was like he was sent from VGK,” says Laurie.
Today all three kittens fostered by the Sweeney family have been adopted. Romeo didn’t even have to leave the house to make that happen. He’s now Lucas’ new special friend, proving that fostering (and adopting) really can cure a broken heart.
</p>
          
</div>














<div class="story">
    <h2>Dakota: Shy dog learns life is nothing to be afraid of</h2>
                <div>
 <img src="https://bestfriends.org/sites/default/files/inline-files/Adopt-a-Shelter-Pet-Day-DakotaAdoption6824MW.jpg" height="500px" alt="image">
                </div>
<p>
For Dakota, new was always scary. When she was comfortable and with the people she loved, she was a snuggly couch potato. New faces, however, made her freeze up with nerves, unable to move until she felt safe again. It was no different when Michael and Alena Eberle met her for the first time. Dakota was nervous, and they wondered if she would be able to adjust well in their home. But they took a chance on her.
At first it was hard, they said. She couldn’t relax, and they had to wake her up in the middle of the night when she had nightmares. With time and patience, she finally started to open up. Once she knew that these were her people and she was safe, she even started getting excited about going to work with them and meeting all sorts of new people. With her family beside her, new wasn’t scary anymore. It was fun.
</p>
          
</div>














