  <h1>Dynamic Select Statements</h1>
  <label for="continent">Select Continent</label>
  <select id="continent" onchange="countryChange(this);">
    <option value="empty">Select a pet type:</option>
    <option value="Cat">Cat</option>
    <option value="Dog">Dog</option>
  </select>
  <br/>
  <label for="breed">Select a breed:</label>
  <select id="breed">
    <option value="0">Enter breed here</option>
  </select>