  <h1>Dynamic Select Statements</h1>
<div class="container">
  <div>
    <label for="type">Pet type:</label>
    <select name="slct1" id="slct1" onchange="populate(this.id, 'slct2')">
        <option value="">---Pick animal type---</option>
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
    </select>
  </div>

  <div>
<label for="breeds">Select breed:</label>
<select name="slct2" id="slct2">

</select>
  </div>

</div>

<script>
    function populate(s1, s2) {
        var s1 = document.getElementById(s1);
        var s2 = document.getElementById(s2);

        s2.innerHTML = "";

        if(s1.value == "Dog")
        {
            var optionArray = ['Shepherd', 'Boston Terrier', 'Husky']
        } else if (s1.value == "Cat") {
            var optionArray = ['British Shorthair', "American Curl", "Domestic Shorthair"]
        }

for(var option in optionArray)
			{
	
				var newoption = document.createElement("option");

				newoption.value = optionArray[option];
				newoption.innerHTML=optionArray[option];
				s2.options.add(newoption);
			}
    }

</script>

