<div>
<div>
<a href="/readycat"><img height="300px" width="300px" src="https://static.onecms.io/wp-content/uploads/sites/47/2021/06/16/cat-in-lap-on-back-236518846-2000.jpg" alt="catImg"/></a>
<br><a href="/readycat">I want to adopt a Cat!</a>
</div>
<br>
<div>
<a href="/readydog"><img height="300px" width="300px" src="https://dogtime.com/assets/uploads/2017/02/dog-sleep-habits-13.jpg" alt="dogImg"/></a>
<br><a href="/readydog">I want to adopt a Dog!</a>
</div>
<br>
<div>
<a href="/readybird"><img height="300px" width="300px" src="https://farm4.static.flickr.com/3569/3433331074_7b22062c26.jpg" alt="birdImg"/></a>
<br><a href="/readybird">I want to adopt a Bird!</a>
</div>
<br>
<div>
<a href="/readyrabbit"><img height="300px" width="300px" src="https://rabbits.life/wp-content/uploads/2021/10/pexels-tima-miroshnichenko-6845798.jpg" alt="rabbitImg"/></a>
<br><a href="/readyrabbit">I want to adopt a Rabbit!</a>
</div>
</div>