<div class="adopt-head">
    <h1>Things to know</h1>
</div>


<div class="ready-adopt">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://static.onecms.io/wp-content/uploads/sites/47/2021/06/16/cat-in-lap-on-back-236518846-2000.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">I want to adopt a Cat</h5>
    <p class="card-text">Never assume how a cat will behave without meeting it. Particular breeds will share certain traits, but there are still variances between individuals. You certainly cannot make assumptions based on fur color. Claims like, “black cats are quieter” have no basis in reality.</p>
    <a href="#" class="btn btn-primary edit-market">Watch video</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://dogtime.com/assets/uploads/2017/02/dog-sleep-habits-13.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">I want to adopt a Dog</h5>
    <p class="card-text">Dogs require a lot of care that can quickly add up to big bucks. When you’re responsible for a dog, you need to spend money on regular and emergency vet visits, bedding, a collar and harness, high-quality dog food, treats, toys, grooming … the list goes on.</p>
    <a href="#" class="btn btn-primary edit-market">Watch video</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://farm4.static.flickr.com/3569/3433331074_7b22062c26.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">I want to adopt a Bird</h5>
    <p class="card-text">Birds need specialty care.An avian veterinarian is an essential part of a pet bird’s life. In general, we recommend a full diagnostic examination upon the acquisition of your bird, and annual checkups for the remainder of your bird’s life.</p>
    <a href="#" class="btn btn-primary edit-market">Watch video</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://rabbits.life/wp-content/uploads/2021/10/pexels-tima-miroshnichenko-6845798.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">I want to adopt a Rabbit</h5>
    <p class="card-text">While some rabbits are gregarious, others may be shy and try to hide when they are first adopted. Therefore, it’s critical that new owners spend time petting and handling their new bunnies to help them transition happily into their new environment.</p>
    <a href="#" class="btn btn-primary edit-market">Watch video</a>
  </div>
</div>




</div>



{{!-- <div class="ready-adopt">
<div>
<a href="/readycat"><img height="300px" width="300px" src="https://static.onecms.io/wp-content/uploads/sites/47/2021/06/16/cat-in-lap-on-back-236518846-2000.jpg" alt="catImg"/></a>
<br><a href="/readycat">I want to adopt a Cat!</a>
</div>

<div>
<a href="/readydog"><img height="300px" width="300px" src="https://dogtime.com/assets/uploads/2017/02/dog-sleep-habits-13.jpg" alt="dogImg"/></a>
<br><a href="/readydog">I want to adopt a Dog!</a>
</div>

<div>
<a href="/readybird"><img height="300px" width="300px" src="https://farm4.static.flickr.com/3569/3433331074_7b22062c26.jpg" alt="birdImg"/></a>
<br><a href="/readybird">I want to adopt a Bird!</a>
</div>

<div>
<a href="/readyrabbit"><img height="300px" width="300px" src="https://rabbits.life/wp-content/uploads/2021/10/pexels-tima-miroshnichenko-6845798.jpg" alt="rabbitImg"/></a>
<br><a href="/readyrabbit">I want to adopt a Rabbit!</a>
</div>
</div> --}}


