body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f4d8ae;
}

a {
  color: #3F6844;
}

.navbar-round {
  border-radius: 15px;
  background-color: pink ;
}
